*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;

}
main{
    display: grid;
    grid-template-columns: 1fr 6fr;
}
.sidebar{
    background-color: #01afff;
    color: white;
    height: 100%;
}
.sidebar .dashboard{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    font-weight: 800;
    font-size: 1.3rem;
}
.dashboard svg{
    width: 2rem;
    height: 2rem;
    fill: white;
}
.dashboard:hover{
    border-bottom: 2px solid white;
    color: #c9f5fd;
    svg{
        fill: #c9f5fd;
    }
}
.sidebar>div>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0 0.5em;
    padding: 0 0.5rem;
}
svg{
    width: 1.5rem;
    height: 1.5rem;
    fill: white;
}
.sidebar >div{
    padding: 1rem;
    cursor: pointer;
}
.sidebar >div>div:hover{
    background-color: rgb(255, 255, 255);
    color: #01afff;
    svg{
        fill: #01afff;
    }
}
.sidebar p{
    margin: 0.5rem 0;
    font-weight: 600;
}
.main-content{
    display: flex;
    flex-direction: column;
}
.content-header{
    background-color: white;
    font-weight: 700;
    font-size: 1.5rem;
    /* border: 1px solid rgb(255, 0, 0); */
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.215);
    padding-bottom: 0.5rem;
}
.searchbar-and-name svg{
    width: 1.5rem;
    height: 1.5rem;
    fill: #000000;
}
.searchbar-and-name{
    /* border: 1px solid #d63535; */
    padding: 0 0.5rem;
    display: flex;

}
.searchbar-and-name input{
    border: none;
    outline: none;
    font-size: 1rem;
    margin-left: 0.5rem;
    border-radius: 1rem;
    height: 1.5rem;
    width: 100%;
    flex-grow: 1;
    background-color: rgba(52, 77, 96, 0.219);
    padding-left: 0.5rem;
}
.searchbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    /* border: 1px solid #d63535; */
    padding: 0.2rem 0.5rem;
    flex-grow: 2;
}
.searchbox button{
    border: none;
    background: none;
    outline: none;
    color: white;
    cursor: pointer;
}
.searchbox button:hover svg{
    fill: #01afff;
}
.name-and-notification{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex-grow: 1;
    justify-content: flex-end;
    font-size: 0.8rem;
}
.name-and-notification p{
    font-weight: 600;
}
.profile{
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.215);
    border-radius: 50%;
    cursor: pointer;
}
.profile:hover{
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.215);
}
#account{
    width: 3rem;
    height: 3rem;
    fill: #000000;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.215);
}#account:hover{
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.215);
    
}#notification{
    width: 2rem;
    height: 2rem;
    fill: #000000;
    cursor: pointer;
}#notification:hover{
    fill: #01afff;
}
.name-and-navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    /* border: 1px solid #231b1b; */
}
.name-and-username{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    /* border: 1px dotted #0d3dec; */
    margin: 0 2rem;
}
.name-and-username svg{
    width: 5em;
    height: 7rem;
    fill: #000000;
    background-color: #fff;
    border-radius: 50%;
}.name-and-username div> p:nth-child(1){
    font-weight: 600;
    font-size: 0.9rem;
}
.name-and-username div>p:nth-child(2){
    font-weight: 800;
    font-size: 1.1rem;
}
.navbar{
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    /* border: 1px dotted #000000; */
}
.navbar a{
    background-color: #01afff;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin: 0 0.5rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.navbar a:hover{
    background-color: #028fdb;
    text-decoration: underline;
}
.content-body{
    background-color: rgba(52, 77, 96, 0.219);
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1rem;;
    padding: 1rem;
    position: relative;
    padding-top: 3rem;
    /* border: 1px solid red; */
    height: 100%;
}
.content-body>div{
    /* padding: 1rem; */
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0.5rem;
}
.announcements{
    background-color: white;
    border-radius: 0.5rem;
    overflow-y: auto;
    grid-column: span 2.5;
    margin-top: 0.5rem;
    height: fit-content;
    /* border: 2px solid green; */
}
.announcements>div{
    padding: 1rem;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.123);
    background-color: #fff;
}
.projects> div>div>p>svg{
    width: 1rem;
    height: 1rem;
    fill: #000000;
    cursor: pointer;
}
.projects> div>div>p>svg:hover{
    fill: #01afff;
}
.projects>div>div{
    display: flex;
    gap: 0.5rem;
    justify-self: flex-end;
    align-self: flex-end;
    margin-top: auto;
}
.projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1rem;
    grid-row: span 2;
    height: fit-content;
}
#projects-header{
    position:absolute;
    top: 1rem;
    left: 1rem;
}
#announcements-header{
    position: absolute;
    top: 1rem;
    right: 6.3rem;
}
.projects> div{
    margin: 0.5rem;
    padding: 1rem;
    background-color: white;
    border-radius:1rem;
    cursor: pointer;
    height: 95%;
    border-left: 7px solid #ffd900;
    display: flex;
    flex-direction: column;
}
.trending{
    border-radius: 0.5rem;
    height: fit-content;
    /* border: 1px solid red; */
}
.trending >div{
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.123);
    background-color: white;
    padding: 1rem;
    overflow: hidden;
    display: flex;
    cursor: pointer;
}
.trending >div:hover{
    background-color: #01afffe5;
    color: white;
}
.trending img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-right: 1rem;
}
#trending-header{
    position: absolute;
    top: 1rem;
    left: 3rem;
}
#trending-container{
    margin-top: 0.5rem;
    height: fit-content;
    /* border: 1px solid red; */
    padding-top: 3rem;
    position: relative;
}
.tegan{
    border-radius: 0.5rem 0.5rem 0 0;
}
.alex{
    border-radius: 0 0 0.5rem 0.5rem;
}