*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;

}
main{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.sidebar{
    background-color: #01afff;
    color: white;
    height: 100vh;
}
.sidebar .dashboard{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    font-weight: 800;
    font-size: 1.3rem;
}
.main-content{
    background-color: #f1f1f1;
    border: 1px solid blue;
    flex-grow: 5;
}
.dashboard svg{
    width: 2rem;
    height: 2rem;
    fill: white;
}
.sidebar>div>div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0 0.5em;
}
svg{
    width: 1.5rem;
    height: 1.5rem;
    fill: white;
}
.sidebar >div{
    padding: 1rem;
    cursor: pointer;
}
.sidebar p{
    margin: 0.5rem 0;
    font-weight: 600;
}
.main-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.main-content header{
    background-color: white;
    padding: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
    border: 1px solid rgb(255, 0, 0);
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.searchbar-and-name svg{
    width: 1.2rem;
    height: 1.2rem;
    fill: #000000;
}
.searchbar-and-name{
    border: 1px solid #d63535;
    padding: 0.5rem;
    display: flex;

}
.searchbar-and-name input{
    border: none;
    outline: none;
    font-size: 1rem;
    margin-left: 0.5rem;
    border-radius: 1rem;
    height: 1.5rem;
    width: 100%;
    flex-grow: 1;
    background-color: rgba(52, 77, 96, 0.219);
}
.searchbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    /* border: 1px solid #d63535; */
    padding: 0.2rem 0.5rem;
    flex-grow: 2;
}
.searchbox button{
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}
.searchbox button:hover svg{
    fill: #01afff;
}
.name-and-notification{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex-grow: 1;
    justify-content: flex-end;
}
.name-and-notification p{
    font-weight: 600;
}
#account{
    width: 3rem;
    height: 3rem;
    fill: #000000;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
}